<!doctype html>
{% include head.html %}
<html>
<body>
    <h1 class="post-title">{{ page.title }}</h1>
    {% for post in site.posts %}
    <div class="entry">
      <div class="page-date">
        <time datetime="{{ post.date | date_to_xmlschema }}" class="page-date">{{ post.date | date_to_string }}</time>
      </div>
      <div class="detail">
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title}}" class="topic-list"> {{ post.title }} </a>
      </div>
    </div>
    {% endfor%}
    {% include copyright.html %}
</body>

</html>
